@media (max-width: 500px) {

	body {
	  margin: 0;
	  font-family: 'Roboto', sans-serif;
	  background: white;
	  overflow: hidden;
	}

	html, body {
	  touch-action: none;
	}

	.con-section {
	  touch-action: pan-x pan-y;
	  overflow: hidden;
	}



	.con {
		width: 100%;
		height: 100vh;
		position: relative;

		display: flex;
		justify-content: center;
	}

	.header {
		width: 100vh;
		height: 12.3vh;
		position: relative;
		background: white;
		border-bottom: 0.35vh solid #d9d9d9;
		top: 0;
		z-index: 1;

		display: flex;
		justify-content: center;
	}

	.header-section {
		width: 90%;
		height: 100%;
		position: relative;
		background: white;
	}

	.header-section1 {
		width: 100%;
		height: 5vh;
		background: white;
		position: relative; 
		top: 0;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header img {
		position: absolute;
		left: 0;
		width: 9vw;
	}

	.header p {
		font-size: 4vw;
		color: black;
		font-weight: 400;
	}

	.header-section2 {
		width: 100%;
		height: 7vh;
		background: white;
		position: relative;
		background: white;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header-block {
		width: 100%;
		height: 4.5vh;
		background: #d9d9d9;
		border-radius: 2vw;

		display: flex;
		align-items: center;
	}

	.block1 {
		width: 50%;
		height: 87%;
		background: white;
		position: relative;
		left: 0.5vw;
		border-radius: 2vw;

		display: flex;
		justify-content: center;
		align-items: center;

		color: black;
		font-size: 3.5vw;
	}

	.block2 {
		width: 50%;
		height: 87%;
		background: rgba(211, 211, 211, 0.0);
		position: relative;
		right: 0.5vw;
		border-radius: 2vw;

		display: flex;
		justify-content: center;
		align-items: center;

		color: black;
		font-size: 3.5vw;
	}

	.con-section {
		width: 100%;
		height: 60vh;
		background: white;
		position: absolute;
		top: 17vh;
	}

	.con-section img {
		width: 90%;
		position: relative;
		left: 5%;
	}

	.footer {
		width: 100%;
		height: 17vh;
		position: absolute;
		bottom: 2vh;
		display: flex;
		justify-content: center;
	}

	.footer-btn1 {
		width: 90%;
		position: absolute;
		height: 7vh;
		border-radius: 3vw;
		background: #0089CF;

		display: flex;
		justify-content: center;
		align-items: center;

		color: white;
		font-weight: 400;
	}

	.footer-btn1 img {
		width: 5vw;
		position: relative;
		left: -2vw;
	}

	.footer-btn2 {
		width: 90%;
		position: absolute;
		bottom: 1.5vh;
		height: 7vh;
		border-radius: 3vw;
		background: white;
		border: 0.8vw solid #0089CF;

		display: flex;
		justify-content: center;
		align-items: center;

		color: #0089CF;
		font-weight: 400;
	}

	.footer-btn2 img {
		width: 6vw;
		position: relative;
		left: -4vw;
	}

	.window {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 5vh;
		z-index: 2;

		display: flex;
		justify-content: center;

		opacity: 0;
		pointer-events: none;
	}

	.window.active {
		animation: windowAnim 0.5s ease forwards;
		pointer-events: auto;
	}

	@keyframes windowAnim {
		from { top: 5vh; opacity: 0; }
		to   { top: 0;   opacity: 1; }
	}


	.window-block {
		width: 80%;
		height: 42vh;
		border-radius: 2vw;
		background: white;
		position: absolute;
		bottom: 2.5vh;

		display: flex;
		justify-content: center;
	}

	.text1 {
		font-size: 4.3vw;
		position: absolute;
		left: 3vw;
		top: 0.5vh;
		color: black;
		font-weight: 500;
	}

	.text2 {
		font-size: 3.5vw;
		position: absolute;
		top: 4vh;
		color: black;
		font-weight: 400;
	}

	.wind-img1 {
		position: absolute;
		width: 70vw;
		top: 3vh;
	}

	.wind-img2 {
		position: absolute;
		right: 3vw;
		top: 2vh;
		width: 7vw;
	}

	.text3 {
		font-size: 3.5vw;
		position: absolute;
		bottom: 4vh;
		color: black;
		font-weight: 400;
	}

	.text4 {
		font-size: 5vw;
		position: absolute;
		bottom: 0vh;
		color: black;
		font-weight: 600;
	}
	
















	.section2 {
		width: 100%;
		height: 87.2vh;
		background: white;
		position: absolute;
		bottom: 0;
		display: none;
	}

	.section2-block {
		width: 100%;
		height: 9.5vh;
		position: relative;
		border-bottom: 0.1vh solid #d3d3d3;

		display: flex;
		align-items: center;
	}

	.block-text1 {
		font-size: 3vw;
		left: 5%;
		position: absolute;
		top: 0.3vh;
		color: grey;
		font-weight: 400;
	}

	.block-text2 {
		font-size: 4.5vw;
		left: 5%;
		position: absolute;
		color: black;
		top: 2.4vh;
	}

	.section2-block img {
		width: 5vw;
		position: absolute;
		right: 5%;
	}





}